.tab-navigation {
  display: flex;

  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;

  flex-direction: column;

  background-color: $color-b;
  padding-top: 20px;

  padding-bottom: 20px;

  @include md{
    padding-top: 50px;
  }
  @include lg{
    padding-top: 70px;
    padding-bottom: 50px;
  }

  &-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    width: 100%;

    //@include font-abz-normal;
    @include font-abh-bold;


    &-head, &-children-button{
      display: block; 

      max-width: 300px;
      width: 100%;

      cursor: pointer;
      text-align: center;

      padding: 10px 0px;
      font-size: 25px;

      background-color: $color-secondary;
      color: $color-white;

      @include md{
        display: none;
      }
    }

    &-children{
      display: none;

      flex-direction: column;
      justify-content: center;

      max-width: $wrapper-large;
      margin-left: auto;
      margin-right: auto;

      @include md{
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
     
      &-button{
        display: block;
        padding: 10px 40px;

        background-color: $color-white;
        color: $color-b;

        transition: background-color 0.2s ease-out, color 0.2s ease-out;

        @include md{
          max-width: 160px;
        }
      }

      &-button:first-child {
        margin-left: 0px;
      }

      &-button:last-child {
        margin-right: 0px;
      }
    }

    .nav-active{
      display: flex;
      width: 100%;
      max-width: 300px;
      
      .tab-navigation-navigation-children-button {
        width: auto;
      }
    }

    .btn-active {
      display: block;
      background-color: $color-secondary;
      color: $color-white;
    }

  }

  &-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    max-width: $wrapper-large;
    margin-top: 20px;

    min-height: 600px; //prevents scrollbar from jumping due to the difference in content size
    
    transition: opacity 1s ease-in;

    @include lg{
      margin-top: 50px;
    }
  }

}