//this file contains colors


$color-primary: #FF4433;
$color-secondary: #A33327;
$color-tertiary: #689775;
$color-quaternary: #917164;
$color-rest: #AD8174;


$color-white: #ffff;
$color-black: #161616;
$color-b: black;

$color-dark: #222222;


.red {
  color: $color-primary;
}